# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt

# Node / Next.js
node_modules/
.next/
out/
build/
.DS_Store

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporary Video Files
temp_video_*.mp4
